<div class="page-container">
    <mat-card class="card-layout" appearance="raised">
        <mat-card-content>
            <div class="div-layout">
                <h2 class="font-color-primary">Login</h2>
                <mat-form-field class="input-box">
                <mat-label class="font-color-primary">Phone Number</mat-label>
                <input matInput [(ngModel)]="loginData.username" placeholder="Enter Phone Number">
                </mat-form-field>
                <br>
                <mat-form-field class="input-box" appearance="fill">
                <mat-label class="font-color-primary small-caption">Password (DOB: 'ddmmyyyy')</mat-label>
                <input matInput 
                    [type]="hidePassword ? 'password' : 'text'" 
                    placeholder="Enter password" 
                    [(ngModel)]="loginData.password"
                    name="password"
                    required>
                
                <button mat-icon-button 
                    matSuffix 
                    (click)="hidePassword = !hidePassword" 
                    [attr.aria-label]="'Hide or show password'" 
                    [attr.aria-pressed]="!hidePassword" 
                    type="button">
                <mat-icon class="small-icon">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                </mat-form-field>
                <br>
                <button class="primary-button-style" mat-raised-button (click)="onLogin()">Login</button>
            
                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                <br>
                <span class="div-layout">Not a member yet? Start by adding your family’s first member&nbsp;
                <br>
                <br>
                <button mat-raised-button color="secondary" class="primary-button-style" (click)="onAddNewFamily()">Add New Family</button>
                <br>
                <br>
                <i>*To add more family members to the same family, please log in using the newly added member.</i>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>