<div class="page-container">
    <div *ngIf="page === 'sjsinfo'">
      <h1>Welcome to SJS executive Committee </h1>
      <p>This is the content for Page 1.</p>
    </div>
    <div *ngIf="page === 'sysinfo'">
      <h1>Welcome to SYS executive Committee</h1>
      <p>This is the content for Page 2.</p>
    </div>
    <div *ngIf="page === 'sbminfo'">
      <h1>Welcome to SBM executive Committee</h1>
      <p>This is the content for Page 3.</p>
    </div>
    <div *ngIf="page === 'smminfo'">
      <h1>Welcome to SMM executive Committee</h1>
      <p>This is the content for Page 4.</p>
    </div>
  </div>