.app-style {
    /* background-color: aliceblue; */
}

/* :root {
    --vh: 1vh;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100); 
    overflow: hidden; 
  } */

.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px); 
    overflow: hidden; 
  }