<div class="page-container">
  <!-- <nav class="navbar navbar-dark primary-button-style nav-height"> -->
    <div class="">
      <div class="disply-flex">
        <section>
          <div *ngIf="isLoggedOut()" class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button class="menu-button-layout" [matMenuTriggerFor]="menu" mat-mini-fab aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>

                <!-- Logo Image -->
                <img
                src="assets/sjs_logo.png" 
                alt="Logo"
                class="logo-image"
                />

                <p class="logo-text"><strong><span style="color: red;">Sadhumargi Jain Sangh</span><span style="color: #66548e"> Udaipur</span></strong></p>
                <mat-menu #menu="matMenu">
                  <button (click)="goToHome()" mat-menu-item>
                      <mat-icon>home</mat-icon>
                      <span>Home</span>
                  </button>
                  <button (click)="viewMyProfile()" mat-menu-item>
                      <mat-icon>people</mat-icon>
                      <span>My Family</span>
                  </button>
                  <button (click)="allSearch()" mat-menu-item>
                      <mat-icon>search</mat-icon>
                      <span>Search</span>
                  </button>
                  <!-- <button (click)="openAiBox()" mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span>AI Box</span>
                </button> -->
                  <button *ngIf="isLoggedOut()" (click)="logout()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                  </button>
              </mat-menu>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- <div class="font-color-primary sjs-layout"><h1>Sadhumargi Jain Sangh Directory</h1></div> -->
    <!-- <div class="justify-container">
      <div class="left-div">
        <div class="float-left">
        <section>
          <div *ngIf="isLoggedOut()" class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button class="menu-button-layout" [matMenuTriggerFor]="menu" mat-mini-fab aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button (click)="goToHome()" mat-menu-item>
                      <mat-icon>home</mat-icon>
                      <span>Home</span>
                  </button>
                  <button (click)="viewMyProfile()" mat-menu-item>
                      <mat-icon>people</mat-icon>
                      <span>My Family</span>
                  </button>
                  <button (click)="allSearch()" mat-menu-item>
                      <mat-icon>search</mat-icon>
                      <span>Search</span>
                  </button>
              </mat-menu>
              </div>
            </div>
          </div>
        </section>
        </div>
        <div class="navbar-brand font-color-primary sjs-layout">SJS</div>
      </div>
      <div class="right-div">
        <button *ngIf="isLoggedOut()" class="font-color-primary" mat-button (click)="logout()">Logout</button>
      </div>
    </div> -->
  <!-- </nav> -->
  <!-- <div class="single-line">
    <div class="disply-flex">
      <section>
        <div *ngIf="isLoggedOut()" class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button class="menu-button-layout" [matMenuTriggerFor]="menu" mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="goToHome()" mat-menu-item>
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button (click)="viewMyProfile()" mat-menu-item>
                    <mat-icon>people</mat-icon>
                    <span>My Family</span>
                </button>
                <button (click)="allSearch()" mat-menu-item>
                    <mat-icon>search</mat-icon>
                    <span>Search</span>
                </button>
            </mat-menu>
            </div>
          </div>
        </div>
      </section>
      <div class="navbar-brand font-color-primary sjs-layout">SJS</div>
    </div>
    <div>
      <button *ngIf="isLoggedOut()" class="font-color-primary" mat-button (click)="logout()">Logout</button>
    </div>
  </div> -->
  <!-- <nav class="navbar navbar-dark primary-button-style nav-height">
    <div class="single-line">
      <div class="disply-flex">
        <section>
          <div *ngIf="isLoggedOut()" class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button class="menu-button-layout" [matMenuTriggerFor]="menu" mat-mini-fab aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button (click)="goToHome()" mat-menu-item>
                      <mat-icon>home</mat-icon>
                      <span>Home</span>
                  </button>
                  <button (click)="viewMyProfile()" mat-menu-item>
                      <mat-icon>people</mat-icon>
                      <span>My Family</span>
                  </button>
                  <button (click)="allSearch()" mat-menu-item>
                      <mat-icon>search</mat-icon>
                      <span>Search</span>
                  </button>
              </mat-menu>
              </div>
            </div>
          </div>
        </section>
        <div class="navbar-brand font-color-primary sjs-layout">SJS</div>
      </div>
      <div>
        <button *ngIf="isLoggedOut()" class="font-color-primary" mat-button (click)="logout()">Logout</button>
      </div>
    </div>
  </nav> -->

  <div class="container mt-3 app-style">
  <!-- <div> -->
    <!-- <span>
      <img src="assets/2S7A0670.JPG" alt="Test Image" class="carousel-image" />
    </span> -->
    
    <div class="carousel-container">
      <div class="carousel-images">
        <img 
          *ngFor="let image of images; let i = index" 
          [src]="image" 
          [class.active]="i === currentIndex" 
          alt="Slide {{ i + 1 }}" 
        />
      </div>
    
      <button class="carousel-button prev" (click)="prevSlide()">&#10094;</button>
      <button class="carousel-button next" (click)="nextSlide()">&#10095;</button>
    
      <div class="carousel-indicators">
        <span 
          *ngFor="let image of images; let i = index"
          [class.active]="i === currentIndex"
          (click)="goToSlide(i)"
        ></span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
