.app-style {
    /* background-color: aliceblue; */
}


.nav-height {
  max-height: min-content;
  height: 55px;
  width: 100% !important;
}
/* :root {
    --vh: 1vh;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100); 
    overflow: hidden; 
  } */

.page-container {
    /* display: flex;
    flex-direction: column; */
    min-height: calc(100vh - 70px); 
    overflow: hidden; 
  }


.primary-button-style {
    background-color: #42535a !important;
    color: #66548e !important;
}

.font-color-primary {
  color: #66548e !important;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 00px;
}

/* .example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
} */

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 300px;
}

.sjs-layout {
  padding-left: 40%;
}

.single-line{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  width: -webkit-fill-available;
}

.justify-container {
  text-align: justify;
  display: block;
  width: -webkit-fill-available;
}

.left-div,
.right-div {
  display: inline-block;
}

.right-div {
  float: right;
  top: 0rem !important;
}

.float-left {
  float: left;
  
}

.disply-flex {
  display: flex;
  padding-left: 2%;
  padding-top: 2%;
}

.menu-button-layout {
  background-color: #e0e0ff;
  /* #5b345b */
}

.logo-image {
  width: 50px; /* Adjust the width as needed */
  height: 45px; /* Maintain aspect ratio */
  margin-left: 10px; /* Add space between the menu button and the logo */
  vertical-align: middle; /* Align with the menu button */
}

.logo-text {
  width: 162px !important;
  height: 45px;
  margin-left: 10px;
  vertical-align: middle;
}

/* .app-style {
  width: 100%;
  margin: 0 auto;
} */

.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 15px; /* Adjust the value for more or less curve */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visuals */
}

.carousel-images {
  position: relative; /* Stack all images */
  width: 100%;
  height: 400px; /* Set height for the carousel */
}

@media (max-width: 768px) {
  .carousel-images {
    position: relative; /* Stack all images */
    width: 100%;
    height: 185px; /* Set height for the carousel */
  }
}

.carousel-images img {
  position: absolute; /* Stack images */
  width: 100%; /* Full width */
  height: 100%; /* Ensure all images fit the carousel */
  top: 0;
  left: 0;
  opacity: 0; /* Hide non-active images */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fading */
}


.carousel-images img.active {
  opacity: 1; /* Show the active image */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  /* left: 50%;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carousel-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicators span.active {
  background-color: white;
}