.search-elments-style{
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    width: 33.33%;
}

@media (max-width: 768px) {
    .search-elments-style{
        padding-left: 1%;
        padding-right: 1%;
        display: inline-block;
        width: auto;
    }
}

.search-elments-style-more-width{
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    width: 50%;
}

@media (max-width: 768px) {
    .search-elments-style-more-width{
        padding-left: 1%;
        padding-right: 1%;
        display: inline-block;
        width: -webkit-fill-available;
    }
}

.search-elments-style-more-width-address{
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    width: 100%;
}

.width-current-address {
    width: -webkit-fill-available;
}

.search-elments-button-style{
    /* padding-left: 90.5%;
    padding-right: 1%; */
    display: flex;
    justify-content: flex-end;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

.single-line{
    display: flex; 
    flex-direction: row;
}

.expand-width {
    width: 100%;
}

.add-family-style{
    padding-left: 82%;
}

.padding-radio-checkbox{
    padding-top: 7%;
}

:host ::ng-deep .mdc-label {
    display: inline-block;
    margin-bottom: 0 !important;
}

.main-card-layout{
    padding-left: 5%;
    padding-right: 5%;
}

.align-row-left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-layout{
    padding-right: 1%;
}

.affirm-check {
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
}

.primary-button-style {
    background-color: #ede5ff !important;
    color: #66548e !important;
}

.font-color-primary {
    color: #66548e !important;
}

.card-layout {
    background-color: #fef5f5;
    border-radius: 20px;
}

.single-line{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.family-radio-button {
    align-items: baseline;
    white-space: nowrap;
}