<div class="loading-container" *ngIf="isLoading">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <div *ngFor="let member of familyMember?.members">
        <div *ngIf="member.familyHead===true" class="family-member-card">
            <span class="secondary-button-style align-row-single-line width-webkit"><span><h2>{{member.firstName}} {{member.lastName}}</h2></span>
                    <span><h2>Family Head</h2></span>
                </span>
            <div class="card-wrapper">
                    <div *ngIf="member.status==='Approved'" class="triangle-approved">
                        <span class="age-number-approved " *ngIf="member.dateOfBirth">{{ getAge(member.dateOfBirth) }}</span>
                        <span class="age-number-approved " *ngIf="!member.dateOfBirth">N/A</span>
                    </div>
                    <div *ngIf="member.status==='Pending'" class="triangle-pending">
                        <span class="age-number-pending" *ngIf="member.dateOfBirth">{{ getAge(member.dateOfBirth) }}</span>
                        <span class="age-number-pending" *ngIf="!member.dateOfBirth">N/A</span>
                    </div>
                    <span class="align-row-left-right card-layout">
                        <span class="img-padding">
                            <img class="rounded-photo" mat-card-lg-image *ngIf="member.photo" [src]="'data:image/jpeg;base64,' + member.photo" alt="Photo" width="200" height="200">
                        </span>
                        <span class="details-style">
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Personal Details </mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Father's Name:</strong> {{member.fatherName}}</p>
                                    <p><strong>Date Of Birth:</strong> {{member.dateOfBirth | date: 'dd-MMM-yyyy'}}</p>
                                    <p><strong>Gender:</strong> {{member.gender | titlecase}}</p>
                                    <p><strong>Marital Status:</strong> {{member.maritalStatus | titlecase}}</p>
                                    <p><strong>Blood Group:</strong> {{member.bloodGroup}}</p>
                                    <p><strong>Education:</strong> {{member.education}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                    
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Demographics</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Mool Niwas:</strong> {{member.aborigine}}</p>
                                    <p><strong>Area:</strong> {{member.area}}</p>
                                    <p><strong>Permanent Address:</strong> {{member.permanentAddress}}</p>
                                    <p><strong>Current Address:</strong> {{member.currentAddress}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        
                            <!-- <div class="section demographics">
                            <h3>Demographics</h3>
                            <p><strong>Aborigine:</strong> {{member.aborigine}}</p>
                            <p><strong>Area:</strong> {{member.area}}</p>
                            <p><strong>Permanent Address:</strong> {{member.permanentAddress}}</p>
                            <p><strong>Current Address:</strong> {{member.currentAddress}}</p>
                            </div> -->
                    
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Professional Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Category:</strong> {{member.professiondd}}</p>
                                    <p><strong>Details:</strong> {{member.profession}}</p>
                                    <p><strong>Address:</strong> {{member.professionAddress}}</p>
                                    <p><strong>Number:</strong> {{member.professionNumber}}</p>
                                    <p><strong>Email:</strong> {{member.professionEmail}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Dharmik Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Dhowan Pani:</strong> {{member.dhowanPani}}</p>
                                    <p><strong>Garam Pani:</strong> {{member.garamPani}}</p>
                                    <p><strong>Navkarsi:</strong> {{member.navkarsi}}</p>
                                    <p><strong>Ratri Bhojan Tyag:</strong> {{member.ratriBhojanTyag}}</p>
                                    <p><strong>Interest:</strong> {{member.interest}}</p>
                                    <p><strong>Availability:</strong> {{member.availability}}</p>
                                    <p><strong>Monthly Hours:</strong> {{member.monthlyHours}}</p>
                                    <p><strong>Affiliated/Nearest Sthanak:</strong> {{member.sthanak}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                    
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Contact Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Primary Number:</strong> {{member.mobile}}</p>
                                    <p><strong>Alternate Number:</strong> {{member.altMobile}}</p>
                                    <p><strong>WhatsApp Number:</strong> {{member.whatsappMobile}}</p>
                                    <p><strong>Email:</strong> {{member.email}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </span>
                    </span>
                </div>
            <br>
            <mat-card class="action-card" appearance="outlined">
                <mat-card-content>
                    <span class="action-button-row">
                        <button *ngIf="checkRoles() || isSelfEdit(member.memberId)" class="primary-button-style" mat-raised-button color="secondary" (click)="onEditMember(member.memberId)" mat-button>Edit</button>
                        &nbsp;&nbsp;
                        <button *ngIf="checkRoles()" class="delete-button-style" mat-raised-button color="secondary" (click)="onDelete(member.memberId)" mat-button>Delete</button>
                        &nbsp;&nbsp;
                        <button class="approve-button-style" *ngIf="member.status==='Pending' && checkRoles()" mat-raised-button color="secondary" (click)="onApproveStatus(member.memberId)" mat-button>Approve</button>
                    </span>
                    <br>
                    <span>
                        <mat-button-toggle-group *ngIf="checkAdminRole()"
                            class="mat-button-group-layout"
                            name="roles"
                            aria-label="Roles"
                            [value]="member.role"
                            (change)="onRoleChange($event, member.memberId)">
                            <mat-button-toggle value="admin">Admin</mat-button-toggle>
                            <mat-button-toggle value="selfedit">Self Edit</mat-button-toggle>
                            <mat-button-toggle value="edit">Edit</mat-button-toggle>
                        </mat-button-toggle-group>
                    </span>
                </mat-card-content>
            </mat-card>
            <br>
            <br>
        </div>
    </div>
</div>



  <br>
  <div *ngIf="!isLoading">
    <div *ngFor="let member of familyMember?.members">
        <mat-accordion *ngIf="member.familyHead===false">
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title class="secondary-button-style"> {{member.firstName}} {{member.lastName}} </mat-panel-title>
                <mat-panel-description>
                <span class="secondary-button-style">Family Member</span>&nbsp;&nbsp;
                </mat-panel-description>
            </mat-expansion-panel-header>
                <div class="card-wrapper card-layout">
                   <div *ngIf="member.status==='Approved'" class="triangle-approved">
                        <span class="age-number-approved " *ngIf="member.dateOfBirth">{{ getAge(member.dateOfBirth) }}</span>
                        <span class="age-number-approved " *ngIf="!member.dateOfBirth">N/A</span>
                    </div>
                    <div *ngIf="member.status==='Pending'" class="triangle-pending">
                        <span class="age-number-pending" *ngIf="member.dateOfBirth">{{ getAge(member.dateOfBirth) }}</span>
                        <span class="age-number-pending" *ngIf="!member.dateOfBirth">N/A</span>
                    </div>
                    <span class="align-row-left-right width-webkit">
                        <span class="img-padding-family-member">
                            <img class="rounded-photo" mat-card-lg-image *ngIf="member.photo" [src]="'data:image/jpeg;base64,' + member.photo" alt="Photo" width="200" height="200">
                        </span>
                        <span class="details-style-family-member">
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Personal Details </mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Father's Name:</strong> {{member.fatherName}}</p>
                                    <p><strong>Gender:</strong> {{member.gender | titlecase}}</p>
                                    <p><strong>Date Of Birth:</strong> {{member.dateOfBirth}}</p>
                                    <p><strong>Marital Status:</strong> {{member.maritalStatus | titlecase}}</p>
                                    <p><strong>Blood Group:</strong> {{member.bloodGroup}}</p>
                                    <p><strong>Education:</strong> {{member.education}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                    
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Demographics</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Mool Niwas:</strong> {{member.aborigine}}</p>
                                    <p><strong>Area:</strong> {{member.area}}</p>
                                    <p><strong>Permanent Address:</strong> {{member.permanentAddress}}</p>
                                    <p><strong>Current Address:</strong> {{member.currentAddress}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Professional Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Category:</strong> {{member.professiondd}}</p>
                                    <p><strong>Details:</strong> {{member.profession}}</p>
                                    <p><strong>Address:</strong> {{member.professionAddress}}</p>
                                    <p><strong>Number:</strong> {{member.professionNumber}}</p>
                                    <p><strong>Email:</strong> {{member.professionEmail}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        
                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Dharmik Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Dhowan Pani:</strong> {{member.dhowanPani}}</p>
                                    <p><strong>Garam Pani:</strong> {{member.garamPani}}</p>
                                    <p><strong>Navkarsi:</strong> {{member.navkarsi}}</p>
                                    <p><strong>Ratri Bhojan Tyag:</strong> {{member.ratriBhojanTyag}}</p>
                                    <p><strong>Interest:</strong> {{member.interest}}</p>
                                    <p><strong>Availability:</strong> {{member.availability}}</p>
                                    <p><strong>Monthly Hours:</strong> {{member.monthlyHours}}</p>
                                    <p><strong>Affiliated/Nearest Sthanak:</strong> {{member.sthanak}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion class="accordian-section">
                                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="secondary-button-style"> Contact Details</mat-panel-title>
                                    <mat-panel-description>
                                        <span></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="section Personal">
                                    <p><strong>Primary Number:</strong> {{member.mobile}}</p>
                                    <p><strong>Alternate Number:</strong> {{member.altMobile}}</p>
                                    <p><strong>WhatsApp Number:</strong> {{member.whatsappMobile}}</p>
                                    <p><strong>Email:</strong> {{member.email}}</p>
                                </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        
                        </span>
                        
                    </span>
                    <mat-card class="action-card-member" appearance="outlined">
                        <mat-card-content>
                            <span class="action-button-row">
                                <button *ngIf="checkRoles() || isSelfEdit(member.memberId)" class="primary-button-style" mat-raised-button color="secondary" (click)="onEditMember(member.memberId)" mat-button>Edit</button>
                                &nbsp; &nbsp;
                                <button *ngIf="checkRoles()" class="delete-button-style" mat-raised-button color="secondary" (click)="onDelete(member.memberId)" mat-button>Delete</button>
                                &nbsp; &nbsp;
                                <button  class="approve-button-style" *ngIf="member.status==='Pending' && checkRoles()" mat-raised-button color="secondary" (click)="onApproveStatus(member.memberId)" mat-button>Approve</button>
                            </span>
                            <br>
                            <span>
                                <button *ngIf="checkRoles() || isSelfEdit(member.memberId)" class="primary-button-style" mat-raised-button color="primary" (click)="onUpdateFamilyHead(member.memberId)" mat-button>Make Family Head</button>
                            </span>
                            <br>
                            <br>
                            <span>
                                <mat-button-toggle-group *ngIf="checkAdminRole()"
                                    class="mat-button-group-layout"
                                    name="roles"
                                    aria-label="Roles"
                                    [value]="member.role"
                                    (change)="onRoleChange($event, member.memberId)">
                                    <mat-button-toggle value="admin">Admin</mat-button-toggle>
                                    <mat-button-toggle value="selfedit">Self Edit</mat-button-toggle>
                                    <mat-button-toggle value="edit">Edit</mat-button-toggle>
                                </mat-button-toggle-group>  
                            </span>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <br>
                </div>
            <br>
            </mat-expansion-panel>
        </mat-accordion>
        <br>      
    </div>
</div>
