.single-line{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

.loading-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full height of the viewport */
    width: 100vw;            /* Full width of the viewport */
    position: absolute;      /* Absolute positioning to cover the entire page */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background to dim the page */
    z-index: 1000;           /* Ensure it's on top of other elements */
  }

.expand-width {
    width: 100%;
}

.search-elments-style{
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
}

.search-elments-button-style{
    background-color: white !important;
    color: #66548e !important;
}

.table-layout {
    overflow-x: auto;
}

.table-style {
    /* background-color: #ede5ff !important; */
    color: #66548e !important;
}

.table-header {
    white-space: nowrap;
}

.add-family-style{
    /* padding-left: 70%; */
}

.filter-style{
    padding-top: 2%;
    width: 100%;
}

.filter-input {
    background-color: white !important;
}

/* .approved-chip{
    background-color: #b9eb93 !important;
    color: #66548e !important;
}

.pending-chip{
    background-color: #ff4444 !important;
    color: white !important;
} */

::ng-deep .mat-mdc-standard-chip.approved-chip .mdc-evolution-chip__text-label {
    color: #66548e !important; /* Override the text color */
}

::ng-deep .mat-mdc-standard-chip.pending-chip .mdc-evolution-chip__text-label {
    color: white !important; /* Override the text color */
}

.approved-chip {
    background-color: #4caf50 !important; /* Green background */
}

.pending-chip {
    background-color: #ff4444 !important; /* Red background */
}

.actions-dropdown-style{
    width: 10%;
}

.search-card {
    /* background-color: rgb(252, 252, 252); */
    /* background-color: rgb(233, 232, 232); */
    /* background-color: #e7e7e7; */
    background-color: rgb(242, 242, 241);
}

.card-layout1 {
    background-color: #fef5f5;
    border-radius: 20px;
}

.card-layout2 {
    /* background-color: #fef5f5; */
    border-radius: 20px;
}

.primary-button-style {
    background-color: #ede5ff !important;
    color: #66548e !important;
}

.font-color-primary {
    color: #66548e !important;
}

.action-card {
    background-color: white !important;
    border-radius: 20px;
    width: -webkit-fill-available;
  }

  .align-row-left-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #fff3f3; */
    /* background-color: #fef5f5;;
    border-radius: 20px; */
    /* Ensure content doesn't overflow */
    /* flex-wrap: wrap; */
}

.rounded-photo {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    object-fit: cover; 
  }

  .img-padding{
    padding-left: 5%;
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color: #ede5ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66548e;
    font-size: calc(1vw + 10px); /* Responsive font size */
    /* font-weight: bold; */
    text-transform: uppercase;
  }

  .padding-name {
    padding-bottom: 1%;
    font-weight: 500;
  }

  .padding-data {
    padding-top: 1%;
  }

  .style-data{
    font-weight: 300;
  }

  .width-webkit {
    width: -webkit-fill-available;
  }

  /* .blood-group {
    color: #ff4444 !important;
    display: flex;
    align-items: center;
  } */

  .blood-group {
    background-color: #ff4444 !important;
    color: white !important;
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-mdc-standard-chip.blood-group .mdc-evolution-chip__text-label {
    color: white !important; /* Override the text color */
}
  
  /* .blood-group mat-icon {
    margin-right: 5px;
  } */


  .triangle-approved {
    position: absolute;
    /* border-radius: 22%; */
    border-top-left-radius: 22%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 22%;
    object-fit: cover;
    top: 0;
    left: 0px;
    width: 0%;
    height: 0;
    /* border-left: 50px solid #ede5ff; */
    border-left: 50px solid #b9eb93;
    border-bottom: 50px solid #e5e4e300;
  }

  .triangle-pending {
    position: absolute;
    /* border-radius: 22%; */
    border-top-left-radius: 22%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 22%;
    object-fit: cover;
    top: 0;
    left: 0px;
    width: 0%;
    height: 0;
    /* border-left: 50px solid #ede5ff; */
    border-left: 50px solid #ff4444;
    border-bottom: 50px solid #e5e4e300;
  }

  .age-number-approved {
    position: relative;
    /* background-color: #ede5ff; */
    background-color: #b9eb93;
    top: 6px;
    left: -46px;
    padding-left: -6% !important;
    font-size: 14px;
    color: #66548e;
    font-weight: 500;
  }

  .age-number-pending {
    position: relative;
    /* background-color: #ede5ff; */
    background-color: #ff4444;
    top: 6px;
    left: -46px;
    padding-left: -6% !important;
    font-size: 14px;
    color: white;
    font-weight: 500;
  }

  .scroll-container {
    height: 552px;
    overflow-y: auto;
  }
  /* The card container (flexbox item) can take up the remaining space */
  .card-container {
    flex-grow: 1; /* Takes remaining space */
    display: flex;
    justify-content: center; /* Centers the card horizontally */
    align-items: center; /* Centers the card vertically */
    padding: 10px;
  }
  
  .profile-placeholder {
    /*position: fixed;  Fixed positioning relative to the screen */
    top: 20px; /* Distance from the top of the screen */
    right: 20px; /* Distance from the right of the screen */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Round shape */
    background-color: #f0f0f0; /* Placeholder background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
    overflow: hidden; /* Prevent image overflow */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fits perfectly within the circle */
  }
  
  @media (max-width: 768px) {
    .profile-placeholder {
      /*position: fixed;  Fixed positioning relative to the screen */
      top: 8px; /* Distance from the top of the screen */
      right: 14px; /* Distance from the right of the screen */
      width: 48px;
      height: 48px;
      border-radius: 50%; /* Round shape */
      background-color: #f0f0f0; /* Placeholder background color */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
      overflow: hidden; /* Prevent image overflow */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }